{% extends 'base.html.twig' %}

{% block body %}
    {# Vue js #}
    <div id="app">
        <section class="articles">
            <div class="h1">Filtres</div>
            <div class="flex space-x-4 ">
                <div class="w-32 bg-blue-200 px-4" v-for="(filter, index) in filters" @click="update_filter(index)">
                    <div>@{index }</div>
                    <div class="bg-blue-300 cursor-pointer p-1 mb-2 hover:bg-blue-400"> @{filter ? filter : 'désactivé'}</div>
                </div>
            </div>

            <h1 class="h1">Article Aimés</h1>

            <div class="p-2 mb-2 border-black border-4 border-b-8" v-for="liked_article in filter_liked_articles">
                <hr>

                <article class="article">
                    <h3>@{liked_article.title}</h3>
                    <h5>@{liked_article.subtitle}</h5>
                    <div class="metadate">Ecrit le
                        {# TODO: date good format #}
                        @{liked_article.creation_date.date }
                        à
                        @{liked_article.creation_date.time }
                        dans la categorie:
                        @{liked_article.category_name}</div>
                    <div class="row">
                        <div class="col-md-4">
                            <img :src='liked_article.picture_path' style="width:200px;height:130px;">
                        </div>
                        <div class="col-md-8">
                            @{liked_article.content}
                            {# TODO: how to make path #}
                            {#
                                                            <a href="{{path('article_show', {'id':  )}}" class="btn btn-outline-info">... Détail</a>
                            #}
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
    <script>
        window.routes = {
            profile_liked_articles : "{{ path('profile.get_liked_articles') }}"
        }
    </script>
    {# VUE JS #}
    {{ encore_entry_script_tags('app') }}

    <style>
        .article {
            padding: 10px;
        }
        a {
            color: inherit;
            cursor: pointer;
            text-decoration: none;
        }
        .article:hover {
            /*color: #bdaa77;*/
            background-color: #D5F5E3;
        }
    </style>
{% endblock %}