<hr/>


<footer class="page-footer font-small blue pt-4 footer" style="background: red;">
  <a class="btn-floating btn-lg btn-tw" type="button" role="button"><i class="fab fa-twitter"></i></a>
</footer>
