<footer class="footer" style="bottom: 0; position:fixed; height : 10%; background: white; width: 100%; margin: 0; padding: 0">
   <!-- style="bottom: 0; position:fixed; height : 8%; background: white; width: 100%;" -->

   <div class="container">
     <hr/>
     <div class="d-flex justify-content-between">
      <div class="p-2">
        <a class="btn-floating btn-lg btn-tw" type="button" role="button" href="#"><i class="fab fa-twitter"></i></a>
        <a class="btn-floating btn-lg btn-tw" type="button" role="button" href="#"><i class="fab fa-facebook"></i></a>
        <a class="btn-floating btn-lg btn-tw" type="button" role="button" href="#"><i class="fab fa-github"></i></a>
      </div>
      <div class="p-8 left">
         S'inscrire à la newsletter : <form class="" action="index.html" method="post"> <input type="text" name="" value=""> <button type="button" name="button" onclick="alert('Mail enregistré !')">Go !</button> </form>
      </div>
    </div>
</footer>
