{% extends 'base.html.twig' %}

{% block title %}FJT-BLOG {% endblock %}

{% block body %}


<div>
    {# <h1> BLOG FJT ***** ✅</h1> #}

    <center><img src="https://neilpatel.com/wp-content/uploads/2018/10/blog.jpg" alt=""></center>
    
</div>
{% endblock %}
