{% extends 'base.html.twig' %}

{% block title %}FJT-BLOG {% endblock %}

{% block body %}


<div class="container">
    <center> <h4> BIENVENU SUR BLOG FJT ✅</h4> 

   <img src="https://www.periwinkle.fr/wp-content/uploads/2017/09/equipe_slider.png?x33745", style="width:550px;height:300px;"/>
<p> RAMON Antonin - SAZEZ Dorian - Thanh NGUYEN - AMGHAR Axel</p>

   </center>
   <hr>

<div class="row">
   <div class="col-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos veniam voluptate eaque laborum quidem laboriosam nihil alias dolores, animi, maxime ipsa suscipit! Temporibus inventore fugiat neque. Repellat doloremque commodi nihil?</p>
    </div>
    <div class="col-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla officia neque reiciendis ipsa expedita adipisci! Fugiat animi incidunt hic aliquam, odit sapiente placeat, eos accusantium esse ratione soluta aspernatur asperiores.</p>
    </div>
    <div class="col-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis veniam alias provident natus, assumenda nostrum vel nihil cum! Sint aliquid aliquam ex libero vitae? Rerum quaerat labore nostrum neque praesentium?</p>
    </div>
</div>
</div>
{% endblock %}