{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="container">
       <div class="row">
       <div class="col-md-4" ></div>
           <div class="col-md-4" style='border: 5px; padding: 20px; background-color: #D5F5E3;'>
               <h5 class=page-header>Contactez avec nous!</h5>
                   {{form_start(form)}}
                   {{form_widget(form)}}
                   {{form_end(form)}}
                <button class="btn btn-outline-info float-right" >{{ button_label|default('Envoyer') }}</button>
           </div>
        <div class="col-md-4"></div>
       </div>
</div>
{% endblock %}