<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% block stylesheets %}
		<link rel="stylesheet" href="/css/bootstrap.min.css">

		{# Tailwind css #}
		{{ encore_entry_link_tags('tailwind') }}

	{% endblock %}
</head>
<body>
{% include "include/sprite.html.twig" %}
{% include "include/navbar.html.twig" %}

<div class="container"> {% block body %}{% endblock %}
</div>

{% block javascripts %}
	<script src="/js/jquery-3.2.1.slim.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>


