{% extends 'base.html.twig' %}

{% block title %}Editer Article{% endblock %}

{% block body %}
    <h1>Editer Article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('article_index') }}">revenir à la liste</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
